body {
  margin: 0;
  font-family: var(--primary-font);
  background-color: var(--primary-background);
  color: var(--primary-text);
}

* {
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
